<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.tracecompass.incubator.gpu.core.gputrace"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.incubator.gpu.core.hiptrace"
            isDirectory="false"
            name="Hiptrace"
            trace_type="org.eclipse.tracecompass.incubator.gpu.core.trace.HipTrace">
      </type>
      <category
            id="org.eclipse.tracecompass.incubator.gpu.core.gputrace"
            name="GPU Trace">
      </category>
      <experiment
            category="org.eclipse.tracecompass.incubator.gpu.core.gputrace"
            experiment_type="org.eclipse.tracecompass.incubator.gpu.core.trace.GpuExperiment"
            id="org.eclipse.tracecompass.incubator.gpu.core.gpuexperiment"
            name="GPU Experiment">
      </experiment>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.gpu.analysis.GpuRooflineAnalysis"
            applies_experiment="true"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.gpu.core.GpuRooflineAnalysis"
            name="GPU roofline model">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.gpu.core.trace.GpuExperiment"
               id="org.eclipse.tracecompass.incubator.gpu.core.gpuexperiment">
         </tracetype>
         <parameter
               name="hip_analyzer_path">
         </parameter>
         <parameter
               name="gpu_info_path">
         </parameter>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.gpu.core.analysis.GpuRooflineDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.gpu.core.analysis.GpuRooflineDataProviderFactory">
      </dataProviderFactory>
   </extension>

</plugin>
