<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.tracecompass.incubator.gpu.ui.gpurooflineconfigure"
               label="Configure"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.tracecompass.incubator.gpu.ui.isGpuRoofline">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.linuxtools.tmf.ui.commands.category"
            description="Configure GPU roofline"
            id="org.eclipse.tracecompass.incubator.gpu.ui.gpurooflineconfigure"
            name="Configure GPU roofline">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.incubator.gpu.ui.views.GpuRooflineView"
            id="org.eclipse.tracecompass.incubator.gpu.ui.roofline"
            name="GPU Roofline"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.incubator.gpu.ui.views.GpuWaveCumulatedView"
            id="org.eclipse.tracecompass.incubator.gpu.ui.gpuwavecumulatedview"
            name="GPU Cumulated waves view"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.incubator.gpu.ui.views.GpuOccupancyView"
            id="org.eclipse.tracecompass.incubator.gpu.ui.gpuoccupancyview"
            name="GPU Occupancy view"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.incubator.gpu.ui.views.GpuBasicBlockReportView"
            id="org.eclipse.tracecompass.incubator.gpu.ui.gpubasicblockreportview"
            name="GPU Basic Block report"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.tracecompass.incubator.gpu.ui.views.GpuRooflineHandler"
            commandId="org.eclipse.tracecompass.incubator.gpu.ui.gpurooflineconfigure">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tracecompass.incubator.gpu.ui.views.GpuRooflineEnabler"
            id="org.eclipse.tracecompass.incubator.gpu.ui.enabler"
            namespace="org.eclipse.tracecompass.incubator.gpu.ui"
            properties="isGpuRoofline"
            type="org.eclipse.tracecompass.tmf.ui.project.model.TmfAnalysisElement">
      </propertyTester>
   </extension>

</plugin>
